@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap");

:root {
  --background-color: #272727;
  --primary-color: #7ed6df;
  --border-color: #fff29c;
  --border-radius: 0.3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font-family: Roboto;
  color: #fff;
  height: 100vh;
  width: 100vw;
  background: var(--background-color);
  overflow-y: hidden;
  padding: 10px;
}

.App {
  height: 100%;
  width: 100%;
}
